PUBLIC_SUPABASE_URL=your-project-url
PUBLIC_SUPABASE_ANON_KEY=your-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
DATABASE_URL=your-connection-string

# weather api key
WEATHER_API_KEY=

# google sheets credentials
GOOGLE_SHEETS_CREDENTIALS=